<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Admin | BCA CS Camp</title>
</head>

<body class="content has-text-centered">
    <h1 class="title is-2">Admin Panel</h1>
    {{#if families}}
        <form action="/admin" method="POST">
            <button type="submit" class="button is-primary">Update Points</button>
            <div class="family-container">
                {{#each families}}
                    <div class="family block pb-5">
                        <h3 class="mt-3">{{name}}</h3>
                        <p>Password: <span class="password-reveal" data-password="{{password}}">••••••••</span></p>
                        <input type="number" class="input points-input" name="points_{{name}}" value="{{points}}">

                        <div class="family-images mt-5">
                            <h4>Scavenger Hunt Pictures</h4>
                            {{#each images}}
                                <div class="image-container">
                                    <img src="/scavenger_hunt/{{../name}}/{{this}}" alt="Uploaded Image"
                                        class="scav-hunt-img">
                                    <button class="delete-image button is-danger is-small" data-family="{{../name}}"
                                        data-image="{{this}}">Delete</button>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </form>
        <h2 class="subtitle is-3">Upload Scavenger Hunt Hints</h2>
        <form action="/admin/upload" method="POST" enctype="multipart/form-data">
            <input type="file" class="input" name="scavenger_hunt" accept="image/*" style="width: 75vw" multiple>
            <div id="scavenger-hunt-preview" class="mt-5 mb-3"></div>
            <button type="submit" class="button is-primary">Upload</button>
        </form>
        <h3 class="mt-3">Previously Uploaded Images</h3>
        <div id="uploaded-images" class="mb-5">
            {{#each hintImages}}
                <div class="image-container">
                    <img src="/scavenger_hunt/__hints/{{this}}" alt="Uploaded Image">
                    <button class="delete-image button is-danger is-small" data-image="{{this}}">Delete</button>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h2 class="subtitle is-3">No Families Set</h2>
    {{/if}}
    <button class="button is-warning toggle-hints">Toggle Hints</button>
    <br />
    <a href="/">Home</a>
    <div id="fullpage" onclick="this.style.display='none';"></div>
</body>
<script>
    document.addEventListener('mouseover', function (e) {
        if (e.target.classList.contains('password-reveal')) {
            const password = e.target.getAttribute('data-password');
            e.target.textContent = password;
        }
    });

    document.addEventListener('mouseout', function (e) {
        if (e.target.classList.contains('password-reveal') && !e.target.getAttribute('data-clicked')) {
            e.target.textContent = '••••••••';
        }
    });

    document.addEventListener('click', function (e) {
        if (e.target.classList.contains('password-reveal')) {
            if (e.target.getAttribute('data-clicked')) {
                e.target.textContent = '••••••••';
                e.target.removeAttribute('data-clicked');
            } else {
                e.target.textContent = e.target.getAttribute('data-password');
                e.target.setAttribute('data-clicked', true);
            }
        }
    });
    document.addEventListener('click', async function (e) {
        if (e.target.classList.contains('delete-image')) {
            e.preventDefault();

            const imageName = e.target.getAttribute('data-image');
            const familyName = e.target.getAttribute('data-family');

            try {
                const response = await fetch(`/delete-image?family=${familyName}&image=${imageName}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    const imageContainer = e.target.closest('.image-container');
                    if (imageContainer) {
                        imageContainer.remove();
                    }
                } else {
                    console.error('Failed to delete the image');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    });
    document.querySelector('input[name="scavenger_hunt"]').addEventListener('change', function () {
        let preview = document.querySelector('#scavenger-hunt-preview');
        preview.innerHTML = '';
        for (const file of this.files) {
            let img = document.createElement('img');
            img.src = URL.createObjectURL(file);
            preview.appendChild(img);
        }
    });
    document.addEventListener('click', async function (e) {
        if (e.target.classList.contains('delete-image')) {
            const imageName = e.target.getAttribute('data-image');
            const familyName = '{{family.name}}';
            try {
                const response = await fetch(`/delete-image?family=hints&image=${imageName}`, {
                    method: 'DELETE'
                });
                if (response.ok) {
                    const imageContainer = e.target.closest('.image-container');
                    if (imageContainer) {
                        imageContainer.remove();
                    }
                } else {
                    console.error('Failed to delete the image');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    });
    document.querySelector('.toggle-hints').addEventListener('click', function () {
        fetch('/api/toggle-hint-visibility', {
            method: 'POST'
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const imgs = document.querySelectorAll('img');
        const fullPage = document.querySelector('#fullpage');
        imgs.forEach(img => {
            img.addEventListener('click', function () {
                fullPage.style.backgroundImage = 'url(' + img.src + ')';
                fullPage.style.display = 'block';
            });
        });
    });
</script>

</html>