<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="/js/utils.js"></script>
    <title>Admin | BCA CS Camp</title>
</head>

<body class="content has-text-centered">
    <h1 class="title is-2">Admin Panel</h1>
    {{#if families}}
        <h2 class="subtitle is-3 mt-5">Manage Families</h2>
        <form action="/admin" method="POST">
            <button type="submit" class="button is-primary">Update Points</button>
            <div class="family-container">
                {{#each families}}
                    <div class="family block pb-5">
                        <h3 class="mt-3">{{name}}</h3>
                        <p>Password: <span class="password-reveal" data-password="{{password}}">••••••••</span></p>
                        <input type="number" class="input points-input" name="points_{{name}}" value="{{points}}">

                        <div class="family-images mt-5 img-count">
                            <h4>Scavenger Hunt Pictures</h4>
                            {{#each images}}
                                <div class="image-container" id="container-family-scav-hunt">
                                    <img src="/scavenger_hunt/{{../name}}/{{this}}" alt="Uploaded Image"
                                        class="scav-hunt-img">
                                    <button class="delete-image button is-danger is-small delete-img-family-scav-hunt"
                                        data-family="{{../name}}" data-image="{{this}}">Delete</button>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </form>
        <h2 class="subtitle is-3">Upload Scavenger Hunt Hints</h2>
        <form action="/admin/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="fileInput" class="input" name="scavenger_hunt" accept="image/*" style="width: 75vw"
                multiple>
            <div id="scavenger-hunt-preview" class="mt-5 mb-3"></div>
            <button type="submit" class="button is-primary" id="upload-img-btn">Upload</button>
        </form>
        <h3 class="mt-3">Previously Uploaded Images</h3>
        <div id="uploaded-images" class="mb-5 img-count">
            {{#each hintImages}}
                <div class="image-container" id="container-prev-uploaded-hints">
                    <img src="/scavenger_hunt/__hints/{{this}}" alt="Uploaded Image">
                    <button class="delete-image button is-danger is-small delete-img-prev-uploaded-hint"
                        data-image="{{this}}">Delete</button>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h2 class="subtitle is-3">No Families Set</h2>
    {{/if}}
    <a href="/download"><button class="button is-info mb-3">Download All Images</button></a>
    <br />
    <button class="button is-warning toggle-hints">Toggle Hints</button>
    <br />
    <a href="/">Home</a>
</body>
<script>
    fullscreenImages();
    previewUploads("scavenger_hunt", "scavenger-hunt-preview");
    deleteImage("delete-img-prev-uploaded-hint", "container-prev-uploaded-hints", "__hints");
    deleteImage("delete-img-family-scav-hunt", "container-family-scav-hunt", null);
    compressImages("fileInput");
    imageCount("img-count");
    uploadNotification("upload-img-btn");
</script>
<script>
    document.addEventListener('mouseover', function (e) {
        if (e.target.classList.contains('password-reveal')) {
            const password = e.target.getAttribute('data-password');
            e.target.textContent = password;
        }
    });

    document.addEventListener('mouseout', function (e) {
        if (e.target.classList.contains('password-reveal') && !e.target.getAttribute('data-clicked')) {
            e.target.textContent = '••••••••';
        }
    });

    document.addEventListener('click', function (e) {
        if (e.target.classList.contains('password-reveal')) {
            if (e.target.getAttribute('data-clicked')) {
                e.target.textContent = '••••••••';
                e.target.removeAttribute('data-clicked');
            } else {
                e.target.textContent = e.target.getAttribute('data-password');
                e.target.setAttribute('data-clicked', true);
            }
        }
    });

    const hintsBtn = document.querySelector('.toggle-hints');
    const updateHintsBtn = () => {
        fetch('/api/hint-visibility')
            .then(response => response.json())
            .then(data => {
                if (data.hint_visibility) {
                    hintsBtn.textContent = 'Hide Hints';
                    hintsBtn.classList.remove('is-warning');
                    hintsBtn.classList.add('is-danger');
                } else {
                    hintsBtn.textContent = 'Show Hints';
                    hintsBtn.classList.remove('is-danger');
                    hintsBtn.classList.add('is-warning');
                }
            });
    };

    document.querySelector('.toggle-hints').addEventListener('click', function () {
        fetch('/api/toggle-hint-visibility', {
            method: 'POST'
        });
        updateHintsBtn();
    });
    updateHintsBtn();
</script>

</html>