<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="js/utils.js"></script>
    <title>Family Leader | BCA CS Camp</title>
</head>

<body class="content has-text-centered">
    <h1 class="title is-2">Family Leader Panel</h1>
    <h2 class="subtitle is-3">{{family.name}} | {{family.points}} Points</h2>
    <form action="/family?family={{family.name}}" method="POST" enctype="multipart/form-data">
        <h3>Upload Scavenger Hunt Pictures</h3>
        <input type="file" class="input" name="scavenger_hunt" accept="image/*" style="width: 75vw" multiple>
        <div id="scavenger-hunt-preview" class="mt-5 mb-3"></div>
        <button type="submit" class="button is-primary">Upload</button>
    </form>
    <h3 class="mt-3">Previously Uploaded Images</h3>
    <div id="uploaded-images" class="mb-5">
        {{#each images}}
            <div class="image-container" id="container-prev-uploaded-scav-hunt">
                <img src="/scavenger_hunt/{{../family.name}}/{{this}}" alt="Uploaded Image">
                <button class="delete-image button is-danger is-small delete-img-prev-uploaded-scav-hunt" data-image="{{this}}">Delete</button>
            </div>
        {{/each}}
    </div>
    <a href="/">Home</a>
</body>
<script>
    fullscreenImages();
    previewUploads("scavenger_hunt", "scavenger-hunt-preview");
    deleteImage("delete-img-prev-uploaded-scav-hunt", "container-prev-uploaded-scav-hunt", "{{family.name}}");
</script>

</html>